<div class="container  mt-5 p-3 ">
            <form #formref (ngSubmit)="submit()" [formGroup]="userRegistration" class="w-50 bg-light p-3 mx-auto">
                <p class=" display-4 text-center m-4">Register</p>
                <div>
                    <label for="name">username</label>
                    <input type="text" name="name" class="form-control " id="name" formControlName="username" required />
                </div>
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password" class="form-control " formControlName="password" required />
                </div>
                <div>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" class="form-control " formControlName="email" required />
                </div>
    
                <div>
                    <label for="age">age</label>
                    <input type="number" name="age" id="age" class="form-control " formControlName="age" required />
                </div>
    
    
                <button class="button btn btn-success d-block mx-auto mt-3" type="submit">Register</button>
            </form>
</div>